{% extends 'base.html.twig' %}

{% block body %}
<form method="post" action="traitement.php">
   <p>
    <div class="form-group">
       <label for="pseudo">Votre pseudo :</label>
       <input type="text" class="form-control" name="pseudo" id="pseudo" />
    </div>
       <br />
       
       <label for="pass">Votre mot de passe :</label>
       <input type="password" name="pass" id="pass" />
       
       <br />
       <input type="submit" value="Envoyer" />
   </p>
</form>
{% endblock %}